@import url(base.css);
body{
    display: flex;
    justify-content: center;
    align-content:center;
    position: relative;
}

.profile-index{
    position: absolute;
    top: 5px;
    left: 5px;
    height: 60px;
    width: 60px;
    background: var(--color-securdario);
    border-radius: var(--border);
    
}
.profile-index:hover{
    filter: contrast(80%);
    box-shadow: 0 0 16px lightblue;
    transform: scale(1.1);
    transition: 1s;
}

.profile-index img {
    border-radius: 50%;
    mix-blend-mode: multiply;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.main-index{
    position: relative;
    margin: 20%;
    height: 35rem;
    width:30%;
    padding: 6px;
    background-image: url(../img/fondo/fondo.avif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: var(--border);
    box-shadow: 0 0 16px lightblue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6, 1fr);
    place-items: space-around;
    gap: 5px;
}
.caja{
    border-radius: var(--border);
    
   
}
.herramientas-index{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background: var(--cajas);
    backdrop-filter: blur(5px);
    grid-column: 1/3;
    grid-row: 2;
}
.buscadores-index{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background: var(--cajas);
    backdrop-filter: blur(5px);
    grid-column: 3/4;
    grid-row: 2/4;
}
.calendar-index{
    grid-column: 2;
    grid-row: 4;
}
.perfil-index{
    grid-column: 1;
    grid-row: 3;
}

    

.buscadores-index img{
    object-fit: cover;
    height: 6vw;
    width: 6vw;
    padding: 5px;
    border-radius: var(--border);
}

.buscadores-index img:hover{
    filter: contrast(80%);
    box-shadow: 0 0 16px rgb(29, 205, 228);
    transform: scale(1.1);
    transition: 1s;
}
.herramientas-index img:hover{
    filter: contrast(80%);
    box-shadow: 0 0 16px rgb(29, 205, 228);
    transform: scale(1.1);
    transition: 1s;
}
.herramientas-index img{
    object-fit: cover;
    height: 6vw;
    width: 6vw;
    padding: 5px;
    border-radius: var(--border);
}

.herramientas-index img:hover{
    filter: contrast(80%);
    box-shadow: 0 0 16px rgb(29, 205, 228);
    transform: scale(1.1);
    transition: 1s;
}
.calendar-index {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.calendar-index img:hover{
    filter: contrast(80%);
    box-shadow: 0 0 16px rgb(29, 205, 228);
    transform: scale(1.1);
    transition: 1s;
}
.calendar-index img{
    object-fit: cover;
    height: 6vw;
    width: 6vw;
    padding: 5px;
    border-radius: var(--border);
}

.calendar-index img:hover{
    filter: contrast(80%);
    box-shadow: 0 0 16px rgb(29, 205, 228);
    transform: scale(1.1);
    transition: 1s;
}

.perfil-index {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.perfil-index img:hover{
    filter: contrast(80%);
    box-shadow: 0 0 16px rgb(29, 205, 228);
    transform: scale(1.1);
    transition: 1s;
}
.perfil-index img{
    object-fit: cover;
    height: 6vw;
    width: 6vw;
    padding: 5px;
    border-radius: var(--border);
}

.perfil-index img:hover{
    filter: contrast(80%);
    box-shadow: 0 0 16px rgb(29, 205, 228);
    transform: scale(1.1);
    transition: 1s;
}
.principal-index {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.principal-index img:hover{
    filter: contrast(80%);
    box-shadow: 0 0 16px rgb(29, 205, 228);
    transform: scale(1.1);
    transition: 1s;
}
.principal-index img{
    object-fit: cover;
    height: 6vw;
    width: 6vw;
    padding: 5px;
    border-radius: var(--border);
}

.principal-index img:hover{
    filter: contrast(80%);
    box-shadow: 0 0 16px rgb(29, 205, 228);
    transform: scale(1.1);
    transition: 1s;
}